* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Flex Container
 # display
 # flex-direction
 # flex-wrap
 # flex-flow
 # justify-content : space-even <main axis>
 # align-content <cross axis>
 # align-items <baseline>
*/

/* Flex items
 # order
 # flex-grow
 # flex-shrink
 # flex
 # align-self
*/

body{
    display: flex;
}

.side-container {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    background-color: #34656d;
    overflow-x: hidden;
}

.side-container .side-items{
    color: white;
    padding: 22px;
    text-decoration: none;
}

.side-items:hover {
    background-color: #334443;
}

.content-title{
    position:absolute;
    top: 0;
    left: 15%;
    font-size: 50px;
    padding: 30px;
    height: 10%;
    z-index: 10;
}

.content-container {
    position:absolute;
    top: 10%;
    left: 15%;
    width: 90%;
}

.content-container .content-list{
    display:flex;
    flex-wrap:wrap;
    
}

.content-container .content-list .content-items {
    background-color: #fffbdf;
    width: 80%;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 5px;
    display:flex;
    flex-wrap: wrap;
}

.content-container .content-list .client-name{
    background-color: #c6ffc1;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    padding-left:25px;
    margin-top: 35px;
}

.content-container .content-list .content-items section{
    width: 100%;
    display:flex;
}

.content-container .content-list .content-items section div{
    background-color: #b6c9f0;
    color: #233e8b;
    text-align: center;
    font-weight: bold;
    width: 24%;   
}

.content-container .content-list .content-items section p{
    width: 56%;
    margin-left: 25px;
}


.content-container .content-list .content-items:hover{
    background-color: #c6ffc1;
} 
